# Ignore Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.plan
.terraform/

# Ignore crash logs
crash.log

# Ignore override files (optional, if you don't use overrides in your project)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore backup files (optional)
*.bak
*.tmp
